.root {
  @apply w-full h-full;
  background: linear-gradient(0deg, #55185D 0.12%, #290849  100%);
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #fb923c;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  right: 5%;
  top: 40%;
  /* left: 50%; */
  /* transform: translate(-20%, -20%); */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}