:root {
  --gradient-blue:  linear-gradient(275deg, #2E80BC 0%, #194A6B 100%);
}

@font-face {
  font-family: Gilroy;
  src: url(assets/font/Gilroy-Regular-2.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(assets/font/Gilroy-Bold-2.ttf) format('truetype');
}

body {
  background-color: #F4F4F7;
  font-family: 'Gilroy';
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* preflight, akan mereset semua css atau style yang dikasih oleh browser */
@tailwind base;

/* meminta component dr tailwind, examlple: container, grid layout, etc. */
@tailwind components;

/* memanggil directives utilities */
@tailwind utilities;